{% extends 'base.html' %}
<title>{% block title %}Event Detail{% endblock %}</title>
{% block content %}
<h4>Events {{ event.name}} Details:</h4>

<p>Event Day: {{ event.day }}</p>
<p>Event Starting Time: {{ event.start_time }}</p>
<p>Event Final Time: {{ event.end_time }}</p>
<p>Description: {{ event.description }}</p>
<p>Food: {{ event.food }}</p>
<p>Drinks: {{ event.drinks }}</p>
<p>Number of Participants: {{ event.no_participants }}</p>
<p>Public Invite Url: {{ event.public_invite_url }}</p>

<p>Go back to the <a href="/events/">list of events</a></p>

{% endblock %}